@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #7b876d;
  color: #989e8b;
  overflow-x: hidden; /* hides scroll bar on the y axis */
  margin: 0;
}

#aboutMe img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 1em;
    margin-right: auto;
    float: right;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;

}
section ul {
  display: flex;
  padding-left: 1.5em;
  padding-right: 1.5em;
  list-style: none;
  flex-flow: row;
  justify-content: space-around;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  font-weight: bold;
}
.container {
  background-color: #DDB8A6 ;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container { /* circle placemnt on the screen*/
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #c67f43;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 5px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 65px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav a{
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color:  #c67f43;
  font-weight: bold;
}

.content img {
  max-width: 100%;
}

.content { /*need*/
  max-width: 1000px;
  margin: 75px auto;
}

.content p { /*need*/
  color: #333;
  line-height: 1.5;
}
.aboutMe{
opacity: calc(100);
}
.projects{
opacity: calc(0);
}
.media{
opacity: calc(0);
}
.hidden {
  opacity: calc(0);
}
.unhide {
  opacity: calc(100);
}
